<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestaurantMangement.Properties.Settings.connStr" connectionString="Data Source=localhost;Initial Catalog=RM;Integrated Security=True; User ID = sa; Password = 123" />
    </connectionStrings>
</configuration>