<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestaurantMangement.Properties.Settings.connStr" connectionString="Data Source=Ak13\SQLEXPRESS;Initial Catalog=RM;Persist Security Info=True;User ID=sa;Password = 123;" />
    </connectionStrings>
</configuration>